* {
  margin: 0;
  padding: 0;
}

.demo {
  font-family: arial;
  font-size: 14px;
}

.App {
  text-align: center;
  height: 100%;
  overflow: auto;
}

.header {
  font-size: 40px;
  padding-top: 30px;
  color: orange;
}

.result {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lose {
  font-size: 50px;
  color: red;
}
.empty {
  font-size: 50px;
  color: red;
}

.win {
  font-size: 110px;
  color: orange;
}

.start {
  font-size: 80px;
  color: black;
  cursor: pointer;
}

.alert-container {
  background-color: white;
  padding: 4rem 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  justify-content: center;
  position: relative;
}

.controls {
  padding: 4px 9px;
  font-size: 40px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.functions-list {
  display: flex;
  font-size: 20px;
}

.controls:hover {
  transform: scale(1.2);
  color: orange;
}

.checkButton {
  margin: 20px;
  padding: 15px 20px 10px 20px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: orange;
  border: 3px solid black;
  font-family: "Luckiest Guy", cursive;
  display: flex;
  justify-content: center;
  outline-color: orange;
}

.checkButton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.checkButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sudokuButton {
  height: 40px;
  width: 40px;
  font-size: 3vh;
  outline-color: orange;
  font-weight: 900;
}

.disabledSudokuButton {
  height: 40px;
  width: 40px;
  font-size: 3vh;
  color: rgb(75, 71, 71);
  outline-color: black;
}

.numbers-container {
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .sudokuButton {
    height: 52px;
    width: 52px;
    font-size: 3vh;
    outline-color: orange;
    font-weight: 900;
  }

  .disabledSudokuButton {
    height: 52px;
    width: 52px;
    font-size: 3vh;
    outline-color: orange;
    font-weight: 900;
  }

  .header {
    font-size: 50px;
    margin-top: 0px;
    color: orange;
  }

  .controls {
    padding: 5px 15px;
    font-size: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .checkButton {
    margin: 10px;
    padding: 15px 30px 10px 30px;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: orange;
    border: 3px solid black;
    font-family: "Luckiest Guy", cursive;
    display: flex;
    justify-content: center;
    outline-color: orange;
  }
}

@media only screen and (min-width: 1600px) {
  .sudokuButton {
    height: 65px;
    width: 65px;
    font-size: 3vh;
    outline-color: orange;
    font-weight: 900;
  }

  .disabledSudokuButton {
    height: 65px;
    width: 65px;
    font-size: 3vh;
    outline-color: orange;
    font-weight: 900;
  }

  .header {
    font-size: 60px;
    margin-top: 20px;
    color: orange;
  }

  .controls {
    padding: 5px 24px;
    font-size: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .checkButton {
    margin: 20px;
    padding: 25px 40px 15px 40px;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: orange;
    border: 3px solid black;
    font-family: "Luckiest Guy", cursive;
    display: flex;
    justify-content: center;
    outline-color: orange;
  }
}
