.App {
  text-align: center;
}

.header {
  font-size: 5vh;
  margin-top: 3vh;
  color: orange;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  justify-content: center;
}

.divNumber {
  padding: 0 2vw 1vh 2vw;
  font-size: 3vh;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.divNumber:hover {
  transform: scale(1.5);
  color: orange;
  cursor: pointer;
}

.checkButton {
  margin: 2vh;
  padding: 2vh 3vh 1vh 3vh;
  font-size: 3vh;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: orange;
  border: 3px solid black;
  font-family: "Luckiest Guy", cursive;
  display: flex;
  justify-content: center;
}

.checkButton:hover {
  transform: scale(1.5);
  background-color: orange;
  cursor: pointer;
}

.checkButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sudokuButton {
  height: 8vh;
  width: 6vw;
  font-size: 3vh;
  outline-color: orange;
}
